.App {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    height: 500px;
    padding: 50px;
}

.item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-container {
    display: flex;
    height: fit-content;
    position: relative;
    width: fit-content;
}