.App {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.search-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    height: 500px;
}
