.items {
    width: 561px;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    font-size: 14px;
    font-family: sans-serif;
}

.items .active {
    background-color: gray;
}