.items {
    width: 561px;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    font-size: 14px;
    font-family: sans-serif;
}

.items .active {
    background-color: aliceblue;
}

.item {
    height: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}