.searchbox {
    --box-height: 48px;
    --icon-size: calc(var(--box-height) * 3/4 );
    --side-margin: calc(24px / 2);
    --icon-vertical-margin: calc( ( var(--box-height) - var(--icon-size) ) / 2 );
  }
  
  .searchbox {
    height: 48px;
    max-width: 561px; 
  }
  .searchbox input[type="search"] {
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 100%;
    width: 100%;
    outline: none;
  }
  
  .searchbox svg {
    height: var(--icon-size);
    width: var(--icon-size);
  }
  .searchbox input[type="search"] {
    color: var(--dark-gray); 
    font-family: 'Noto Sans', Verdana, sans-serif;
    font-size: 1rem;
  }
  .searchbox input[type="search"]::placeholder {
    opacity: 1; 
  }
  
  .searchbox {
    position: relative;
  }
  .searchbox svg {
    position: absolute;
    left: var(--side-margin);
    top: var(--icon-vertical-margin);
    bottom: var(--icon-vertical-margin);
  }
  .searchbox input[type="search"] {
    padding-left: calc( var(--side-margin) + var(--icon-size) + 4px);
    padding-right: var(--side-margin);
  }
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; 
  }
  
  .searchbox svg {
    z-index: -1;
  }
  .searchbox input[type="search"] {
    background: transparent;
  }
  
  .searchbox input[type="search"]:focus {
    background-color: transparent;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  }
  
  .searchbox input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='rgb(148, 148, 148)' %3E%3Cpath d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z' /%3E%3C/svg%3E%0A");
    height: calc(var(--box-height) / 2);
    width: calc(var(--box-height) / 2);
  }
  
  input[type="search"] {
    -webkit-tap-highlight-color: transparent;
  }
  
  body .searchbox {
    width: 90%;
    margin: 0 auto;
    top: 48px;
  }
  